In [107]:
import json
import glob
import pandas as pd

In [108]:
asport = 'technical_challenge/Asport CAPRED/Analyses'
Campuget = 'technical_challenge/Campuget 210/Analyses'
Tuilerie = 'technical_challenge/La Tuilerie/Analyses'
MASDEMIAN001 = 'technical_challenge/MASDEMIAN001/Analyses'

In [109]:
def temp_source(folder):
    source = []
    temp = []
    for file in glob.iglob(folder + '/*.json'):
        with open(file) as json_file:  
            data = json.load(json_file)
            for i,j in enumerate(data['source']):
                    source.append(j)
                    temp.append(data['temperature'][i])
    name = f'df_{folder}'
    name = pd.DataFrame(
        {'source': source,
         'temperature': temp,
        })

In [110]:
temp_source(asport)
temp_source(Campuget)
temp_source(Tuilerie)
temp_source(MASDEMIAN001)

In [112]:
df_MASDEMIAN001.head()
df_asport.head()
df_Campuget.head()
df_Tuilerie.head()

          source  temperature
0  meteo_concept    13.000000
1   wunderground    14.000000
2       dark_sky    15.940000
3       api-agro    11.455896
4     weatherbit    12.900000

In [117]:
df = pd.concat([df_MASDEMIAN001, df_Campuget, df_Tuilerie, df_MASDEMIAN001], ignore_index=True, sort=True)

In [118]:
df.head()

          source  temperature
0       dark_sky    14.290000
1   wunderground    15.000000
2       api-agro    11.126795
3  meteo_concept    13.000000
4     weatherbit    12.700000

In [120]:
temp_diff_final = df['temperature'].groupby(df['source'])

In [124]:
temp_diff_final.mean()

source
api-agro            11.661877
dark_sky            11.875779
infoclimat          11.171789
meteo_concept       12.036118
open_weather_map    10.496368
weatherbit          11.455875
wunderground        11.614012
Name: temperature, dtype: float64

In [123]:
df['source'].value_counts()

api-agro            2298
meteo_concept       2298
wunderground        2298
weatherbit          2298
dark_sky            2298
open_weather_map     950
infoclimat           950
Name: source, dtype: int64